<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAufa9BBibOgszl8ZRJCRxFeXgx6Rl-MAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>119777053641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dndAdventure</string>
	<key>PROJECT_ID</key>
	<string>dndadventure-59102</string>
	<key>STORAGE_BUCKET</key>
	<string>dndadventure-59102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119777053641:ios:41e1fe7f2862352c10f618</string>
</dict>
</plist>